<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="treullasteps.com.treullasteps">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Registrazione"
            android:label="@string/title_activity_registrazione"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Benvenuto2"
            android:label="@string/title_activity_second"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Contapassi"
            android:label="Contapassi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Benvenuto1"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SessionList"
            android:label="@string/title_activity_sessions_list" />
        <activity
            android:name=".SaveSession"
            android:label="@string/title_activity_save_session">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.json"/>
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".SessionView"
            android:label="@string/title_activity_session_view"/>
        <activity
            android:name=".Settings"
            android:label="Settings" />
    </application>

</manifest>
